*{    /*estilos básicos*/
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6; /*distância entre as linhas*/
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3498db;
    padding: 1rem;

}

header h1{
    color: #ffffff;
    font-size: 30px;
}

.main-content{
    padding: 2rem;
    color: #000000;
    background-color: #ffffff;
    

}

.section{
    padding: 2rem; /*padding em, relativo ao tamanho da fonte do pai*/
    margin-bottom: 2em; /* espaço abaixo de cada seção*/
    border-radius: 8px;
    position: relative; /**/
}
.sessão-1{
    background-color: #f62a14;
    color: #000000;
   
}

.sessão-2{
    background-color: #2ecc71;
    color: #000000;
}

.sessão-3{
    background-color: #f39c12;
    color: #000000;
}

.box{
    background-color: #ffffff;
    color: #000000;
    padding: 2rem; /* padding aumentado para maior visibilidade*/
    margin: 1rem;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2rem; /* tamanho da fonte aumentado para maior legabilidade*/
    box-sizing: border-box; /* inclui padding e borda no cálculo da largura*/
}

/*layout das caixas*/
.caixa-1, .caixa-2, .caixa-3, .caixa-4, .caixa-5, .caixa-6 {
    width: calc(50% - 2rem); /*largura das caixas ajustada para caber duas por linha com espaçamento*/
    float: left; /*trabalha com a distribuição dos elementos... */
}

/*limpeza do float*/
.section::after{
content: ""; /*adiciona um elemento invisivel apos o conteudo da seção */
display: table; /*faz com o que o elemento invisivel se comporte como um bloco, forçando o contâiner a incluir elementos flutuantes*/
clear: both; /* garante que o contâiner "limpe" os elementos flutuantes, evitando problemas no layout*/
}

/*responsividade*/

/*ajuste para telas grandes (largura acima de 1200px)*/
@media (min-width: 1200px){
    .box{
        width: calc(33.333% - 2rem); /*largura de 33.333% para três caixas por linha*/
    }
}